@import '../../stylesheets/variables';

.patients {
  .message {
    margin-top: 6rem;
    padding: 1rem 2rem;
    background: rgba($purple, 0.3);
    border: solid 0.1rem $purple;
    color: $purple;
  }

  .custom-info {
    .patient-name {
      top: 0;
    }

    .card {
      .card-body {
        padding: 4rem 0 0 0;
        font-size: 1.4rem;

        .card-text {
          .patient-dni {
            border-left: solid 0.1rem $white;
            color: $white;
            margin-left: 0.8rem;
            padding-left: 0.8rem;
          }
        }
      }
    }
  }

  .email-icon,
  .phone-icon,
  .address-icon,
  .calendar-icon {
    position: relative;
    padding: 0 1rem;

    &:before {
      content: '';
      width: 2rem;
      height: 5rem;
      margin-right: 1.6rem;
      float: left;
    }
  }

  .email-icon {
    &:before {
      background: url(../../images/email.svg) no-repeat center center / contain;
    }
  }

  .phone-icon {
    &:before {
      background: url(../../images/phone.svg) no-repeat center center / contain;
    }
  }

  .address-icon {
    &:before {
      background: url(../../images/address.svg) no-repeat center center /
        contain;
    }
  }

  .calendar-icon {
    border-top: solid 0.1rem $green;
    padding: 1rem;
    background: rgba($green, 0.16);

    &:before {
      background: url(../../images/calendar.svg) no-repeat center center /
        contain;
    }

    .next-date {
      position: absolute;
      top: -1rem;
      left: 0;
      background: $light-gray;
      padding: 0.3rem 1rem 0.3rem 2rem;
      border-radius: 0 1rem 1rem 0;
      color: $white;
      font-size: 1.2rem;
    }
  }

  .card-footer {
    padding: 0;

    .purple-bg {
      background: $purple;
      justify-content: center;
      display: flex;
      margin-bottom: 0;

      .secondary {
        background: $purple;
      }
    }
  }

  .icons {
    [class*='-icon'] {
      border: 0;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 4rem;
      margin-right: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }

    .edit-icon {
      background: $green url(../../images/edit_white.svg) no-repeat center
        center / contain;
      background-size: 1.2rem;
    }

    .delete-icon {
      background: $red url(../../images/delete_white.svg) no-repeat center
        center / contain;
      margin-top: 0.5rem;
      background-size: 1.2rem;
    }

    .position-absolute {
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}
