@import '../../stylesheets/variables';

.patients {
  .message {
    margin-top: 6rem;
    padding: 1rem 2rem;
    background: rgba($purple, 0.3);
    border: solid 0.1rem $purple;
    color: $purple;
  }

  .custom-info {
    .patient-name {
      top: 0;
    }

    .card {
      .card-body {
        padding: 4rem 0 0 0;

        .card-text {
          .patient-dni {
            border-left: solid 0.1rem $white;
            color: $white;
            margin-left: 0.8rem;
            padding-left: 0.8rem;
          }
        }
      }
    }
  }

  .email-icon,
  .phone-icon,
  .address-icon,
  .calendar-icon {
    position: relative;
    padding: 0 1rem;

    &:before {
      content: '';
      width: 2rem;
      height: 5rem;
      margin-right: 1.6rem;
      float: left;
    }
  }

  .email-icon {
    &:before {
      background: url(../../images/email.svg) no-repeat center center / contain;
    }
  }

  .phone-icon {
    &:before {
      background: url(../../images/phone.svg) no-repeat center center / contain;
    }
  }

  .address-icon {
    &:before {
      background: url(../../images/address.svg) no-repeat center center /
        contain;
    }
  }

  .calendar-icon {
    &:before {
      background: url(../../images/calendar.svg) no-repeat center center /
        contain;
    }
  }

  .card-footer {
    padding: 0;

    .purple-bg {
      background: $purple;
      justify-content: center;
      display: flex;
      margin-bottom: 0;

      .secondary {
        background: $purple;
      }
    }
  }

  .icons {
    [class*='-icon'] {
      border: 0;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
    }

    .edit-icon {
      background: url(../../images/edit.svg) no-repeat center center / contain;
    }

    .delete-icon {
      background: url(../../images/delete.svg) no-repeat center center / contain;
      margin-right: 2.4rem;
    }
  }
}
