@import '../../../stylesheets/variables';

.PatientHistory {
  &__bg {
    background: url(../../../images/history-patientbg.jpg) no-repeat center center /
      cover;
  }
  &__patient {
    font-weight: 300;
    color: $white;
    display: inline-flex;
    padding: 0.8rem 3.2rem;
    border-radius: 0.8rem 4rem 4rem 0;
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    background: $green;
    font-size: 1.8rem;
    align-items: center;

    &:after {
      content: 'Historias';
      font-weight: 700;
      color: $white;
      display: inline-block;
      padding: 0.4rem 3.2rem;
      border-radius: 0.8rem 4rem 4rem 0;
      position: absolute;
      top: 4.2rem;
      left: 0;
      background: $purple;
      font-size: 1.4rem;
    }

    strong {
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }

  .user-info {
    left: 3rem;
    right: unset;
    top: -6rem;
    bottom: unset;
  }

  .modal-body {
    padding-top: 10rem;
    position: relative;
    border-radius: 0 0 0.8rem 0.8rem;
  }

  small {
    font-weight: 400;
    font-size: 1.4rem;
    display: table;
    color: $white;
    background: $green;
    padding: 0.2rem 1.2rem;
    border-radius: 0 2rem 2rem 0;
    padding-left: 2rem;
  }

  &__reason,
  &__clinic,
  &__diagnostic,
  &__treatment {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 0;
    background: $blue;
    color: $white;
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem 0.8rem 0rem 0;
    margin-bottom: 0;
  }

  &__history {
    padding: 2rem 0;
    border-radius: 0.8rem;
    margin-bottom: 6rem;
    position: relative;
    padding-top: 3.9rem;
    box-shadow: 0 1.4rem 4.2rem -0.5rem rgba($text, 0.5);
  }

  &__addHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $green;
    color: $white;
    right: 8rem;
    border: solid 0.2rem $green;
    padding: 0.8rem 3.2rem;
    border-radius: 0.8rem 0.8rem 0 0;
    font-size: 1.6rem;
    border-bottom: 0;
  }
}
