@import '../../stylesheets/variables';

.primary, .secondary {
  border: 0;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3.2rem;
  border-radius: 4rem;
  font-size: 1.4rem;
}

.primary {
  background: $green;
}

.secondary {
  background: $red;
}
