@import '../../stylesheets/variables';

.PatientModal {

  h1 {
    font-weight: 300;
    color: $green;
  }

  .user-info {
    left: 3rem;
    right: unset;
    top: -6rem;
    bottom: unset;
  }
}
