@import '../../../stylesheets/variables';

.user-info {
  background: $white;
  padding: 1rem;
  padding-left: 6.4rem;
  margin-top: 2rem;
  border-radius: 1.6rem;
  position: absolute;
  bottom: -3rem;
  right: 3rem;
  box-shadow: 0px 14px 42px -5px rgba(0, 0, 0, 0.5);
  z-index: 1;

  .user-info-row {
    display: flex;
    align-items: center;
    position: relative;

    .name {
      h1 {
        color: $purple;
        font-weight: 300;
      }
    }

    strong {
      color: #443754;
    }
  }

  .user-profile {
    width: 5rem;
    height: 7.6rem;
    background: $purple url(../../../images/user-profile.svg) no-repeat center
      center / contain;
    background-size: 2rem 2rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.6rem 0 0 1.6rem;
    border: 0;
  }
}

.head-bg {
  height: 30rem;
  background: url(../../../images/page-bg.jpg) no-repeat center center / cover;
  border-radius: 1.6rem;
  position: relative;
}

.biopsy-card {
  background: $white;
  margin: 1rem 0;

  .biopsy-info {
    padding: 2rem 0;

    span {
      color: $green;
    }

    .card {
      font-size: 1.6rem;
      border-radius: 0.8rem;
      border: 0;
      box-shadow: 0px 14px 42px -5px rgba(0, 0, 0, 0.5);
      margin-bottom: 1rem;

      .card-body {
        position: relative;
        padding-top: 8rem;

        .biopsia,
        .biopsy-date {
          position: absolute;
          color: white;
          padding: 0.2rem 1.6rem;
          padding-bottom: 0.6rem;
          border-radius: 0 0.8rem 0.8rem 0;
          left: 0;
          font-size: 1.2rem;
        }

        .biopsia {
          top: 0;
          background: $purple;
          border-radius: 0.8rem 0.8rem 0.8rem 0;
        }

        .biopsy-date {
          background: $green;
          display: inline-block;
          top: 2.7rem;
        }

        .card-text {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .card-footer {
        background: $green;
        border: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0 0 0.8rem 0.8rem;
      }
    }

    .biopsy-block {
      margin-bottom: 3rem;
    }

    .patient-name {
      padding: 0.2rem 1.6rem;
      border-radius: 0 0.8rem 0.8rem 0;
      color: $white;
      font-size: 1.2rem;
      position: absolute;
      left: 0;

      &:before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        margin-right: 1rem;
      }
    }

    .patient-name {
      top: 2.9rem;
      background: #92b8eb;

      &:before {
        background: url(../../../images/user-profile-white.svg) no-repeat center
          center / contain;
      }

      span {
        color: $white;
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: solid 0.1rem $white;
      }
    }
  }
}

.doctor-icon,
.cal-icon,
.micro-icon,
.scalpel-icon,
.note-icon,
.search-icon {
  position: relative;
  &:before {
    content: '';
    width: 2rem;
    height: 5rem;
    margin-right: 2rem;
    float: left;
  }
}
.doctor-icon {
  &:before {
    background: url(../../../images/doctor.svg) no-repeat center center /
      contain;
  }
}
.cal-icon {
  &:before {
    background: url(../../../images/calendar.svg) no-repeat center center /
      contain;
  }
}
.micro-icon {
  &:before {
    background: url(../../../images/microscope.svg) no-repeat center center /
      contain;
  }
}
.scalpel-icon {
  &:before {
    background: url(../../../images/scalpel.svg) no-repeat center center /
      contain;
  }
}
.note-icon {
  &:before {
    background: url(../../../images/note.svg) no-repeat center center / contain;
  }
}
.search-icon {
  &:before {
    background: url(../../../images/search-icon.svg) no-repeat center center /
      contain;
    position: absolute;
    top: 50%;
    margin-top: -2.5rem;
    left: 2.4rem;
    z-index: 0;
  }

  .form-control {
    padding-left: 3.6rem;
    background: transparent;
    border: 0;
  }
}

.plus-icon {
  &:after {
    content: '';
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-left: 1rem;
  }
}

.plus-icon {
  &:after {
    background: url(../../../images/plus-white.svg) no-repeat center center /
      contain;
  }
}

.gray-bg {
  border-radius: 1.6rem;
}

.form-group {
  margin-top: 1rem;
}

.title {
  margin-top: 6rem;

  span {
    font-weight: 300;
  }
}

@media (max-width: 576px) {
}
