@import '../../../stylesheets/variables';

.NotFoundPage {
  &__h1 {
    color: $green;
    font-size: 6rem;
  }

  &__btn {
    background: $green;
    color: $white;
    text-decoration: none;
    padding: 0.8rem 3.2rem;
    border-radius: 2rem;
    margin-top: 3rem;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}
