.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .icon:before {
  content: '';
  width: 6rem;
  height: 6rem;
  background: url(../../images/biopsy.svg) no-repeat center center;
  float: left;
  margin-right: 1rem;
}

.modal .b-number {
  color: #fff;
  font-weight: 700;
  background: #11b495;
  float: left;
  padding: 0 1.6rem;
  border-radius: 4rem;
}

.modal .b-number,
.modal .b-date {
  font-size: 1.6rem;
}

.modal .patient-info {
  background: #11b495;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.modal hr {
  margin-top: 2rem;
}

.modal .discipline {
  font-weight: 400;
  color: rgba(51, 51, 51, 0.6);
  font-size: 1.8rem;
}

.modal .modal-body {
  background: #fff;
  padding: 3rem;
  border-radius: 0.8rem;
  position: relative;
  border: solid 0.2rem #11b495;
}

.modal .modal-body button {
  margin: 3rem auto 0 auto;
}

.modal .modal-body span {
  color: #11b495;
}

.modal .modal-body span h1 {
  color: #2a3743;
}

.modal .modal-body .btn-row {
  display: flex;
  justify-content: center;
}

.modal .modal-body .btn-row .primary {
  display: inline-block;
  margin: 2rem auto 0 auto;
  left: 50%;
  transition: all 200ms ease-in-out;
}

.modal .modal-body .btn-row .primary:hover {
  color: #fff;
  text-decoration: none;
  background: #4289dd;
}

.modal .close {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  font-weight: 300;
  background: url(../../images/close.svg) no-repeat center center/contain;
  z-index: 5;
}

.modal .close:hover {
  cursor: pointer;
}
