@import '../../../stylesheets/variables';

.login {
  &.head-bg {
    background: url(../../../images/login-bg.jpg) no-repeat center bottom / cover;
  }
}

.login-block {
  background: rgba($white, 0.95);
  padding: 6rem;
  align-self: center;
  box-shadow: 0px 14px 42px -5px rgba(0, 0, 0, 0.5);
  border-radius: 1.6rem;
  margin-top: -10rem;
  z-index: 6;

  h1 {
    margin-bottom: 2rem;
  }
}

.alert {
  &.alert-danger {
    background: none;
    border: 0;
    color: $red;
    margin: 2rem auto;
    text-align: center;
  }
}

.options {
  margin: 3rem auto 0 auto;

  a {
    color: $text;

    &:first-child {
      border-right: solid 0.1rem $text;
      padding-right: 1rem;
      margin-right: 1rem;
      color: $green;
    }
  }
}

@media (max-width: 576px) {
  .options {
    a:first-child {
      border-right: 0;
    }
  }
}
