@import '../../../stylesheets/variables';

.login {
  &.head-bg {
    background: url(../../../images/login-bg.jpg) no-repeat center bottom /
      cover;
  }
}

.login-block {
  background: rgba($white, 0.95);
  padding: 6rem;
  align-self: center;
  box-shadow: 0px 14px 42px -5px rgba(0, 0, 0, 0.5);
  border-radius: 1.6rem;
  margin-top: -10rem;
  margin-bottom: 10rem;
  z-index: 6;

  h1 {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}

.alert {
  &.alert-danger {
    background: none;
    border: 0;
    color: $red;
    margin: 2rem auto;
    text-align: center;
  }
}

.Login {

  &__options {
    margin: 2rem auto 0 auto;
    border-top: solid 0.1rem rgba($text, 0.1);
    padding-top: 2rem;
  
    a {
      color: $text;
  
      &:first-child {
        border-right: solid 0.1rem $text;
        padding-right: 1rem;
        margin-right: 1rem;
        color: $green;
      }
    }
  }

  &__img {
    width: 2rem;
    margin-right: 1rem;
  }

  &__google {
    background: $red;
    color: $white;
    border-radius: 1.6rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.6rem;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
    }
  }

  &__form {
    border-bottom: solid 0.1rem rgba($text, 0.1);
    padding-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .login-block {
    padding: 3rem;
  }
  .options {
    a:first-child {
      border-right: 0;
    }
  }
}
